<footer class="footer">
    <div class="footer__headText">
        <p class="footer__h2">- get in touch with us -</p>
        <p class="footer__headP">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. 
            <span class="footer__headPAdded">Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span> 
        </p>
        
    </div>

    <div class="footer__socialMedia">
        <a href="#"><img class="footer__icons1" src="img/rss-icon.png" alt="rss"></a>    
        <a href="#"><img class="footer__icons2" src="img/facebook-icon.png" alt="facebook"></a>
        <a href="#"><img class="footer__icons3" src="img/twitter-icon.png" alt="twitter"></a>
        <a href="#"><img class="footer__icons4" src="img/dribbble-icon.png" alt="dribbble"></a>
        <a href="#"><img class="footer__icons5" src="img/pinterest-icon.png" alt="pinterest"></a>
    </div>

    <div class="footer__contactDetails">
        <p class="footer__address">Moonshine St. 14-05 Light City   /   </p>
        <p class="footer__modile">T. +00 (123) 456 78 90   /   </p>
        <p class="footer__mail">first.last@email.com</p>
    </div>
</footer>
