.footer {
    background-color: black;

        &__headText {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 25px 26px 25px;
        }
        &__h2 {
            color: #FEFEFE;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 38px 0 13px 0;
        }
        &__headP {
            color: #B9B9B9;
            text-align: center;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
        }
        &__headPAdded {
            color: #B9B9B9;
            text-align: center;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
        }

        &__socialMedia {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__icons1 {
            width: 34px;
            border: 2px solid #F8902E;
            border-radius: 50%;
            padding: 12px;
            margin-right: 6px;
        }
        &__icons2 {
            width: 34px;
            border: 2px solid #39599F;
            border-radius: 50%;
            padding: 9px 12px;
            margin-right: 6px;
        }
        &__icons3 {
            width: 34px;
            border: 2px solid #45B0E3;
            border-radius: 50%;
            padding: 12px;
            margin-right: 6px;
        }
        &__icons4 {
            width: 34px;
            border: 2px solid #D97AB0;
            border-radius: 50%;
            padding: 13px 12px;
            margin-right: 6px;
        }
        &__icons5 {
            width: 34px;
            border: 2px solid #CC212C;
            border-radius: 50%;
            padding: 12px;
            margin-right: 6px;
        }


        &__contactDetails {
            display: flex;
            flex-direction: column;
            margin-top: 26px;

        }
        &__address {
            color: #B9B9B9;
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
        }
        &__modile {
            color: #B9B9B9;
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            margin-top: 8px;
        }
        &__mail {
            color: #B9B9B9;
            text-align: center;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            margin-top: 8px;
            margin-bottom: 47px;
        }
}

@media (max-width: 767px) {
    .footer__headPAdded {
        display: none;
    }
}

@media (min-width: 767px) and (max-width: 1199px) {
    .footer__headPAdded {
        display: block;
    }
}